aws-cdk.core==1.111.0
aws-cdk.aws_kinesisfirehose==1.111.0
aws-cdk.aws_s3==1.111.0
aws-cdk.aws_iam==1.111.0
aws-cdk.aws_logs==1.111.0
aws-cdk.aws_ec2==1.111.0
aws-cdk.aws_ecs==1.111.0
aws-cdk.aws_ssm==1.111.0
aws-cdk.aws_glue==1.111.0
aws-cdk.aws_lambda==1.111.0
aws-cdk.aws_lambda_event_sources==1.111.0
python-twitter==3.5
boto3==1.9.159
sh==1.14.2
